{% load static %}
<div id="sidebar" class="active">
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <a href="index.html"><img src="{%static 'images/logo.png' %}" alt="Logo" srcset=""
          /></a>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">
        <li class="sidebar-title">Menu</li>


        <li class="sidebar-item ">
          <a href="{%url 'tablero.inicio'%}" class="sidebar-link">
            <i class="fas fa-home"></i>
            <span>Tablero</span>
          </a>
        </li>

       
        <li class="sidebar-item">
          <a href= "{% url 'minutas.listado'%}" class="sidebar-link">
            <i class="fas fa-file-alt"></i>
            <span>Minutas</span>
          </a>
        </li>

        
      </ul>
    </div>
    
  </div>
</div>
