{% extends "main.html" %}

{% block contenido-principal %}


    <div class="page-heading">
        <h3>Mi Tablero</h3>
    </div>

    
    <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon purple">
                                                    <i class="fas fa-file-alt"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Total de Minutas</h6>
                                                <h6 class="font-extrabold mb-0">{{conteo_minutas}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <a href="{% url 'minutas.crear' %}">
                                    <div class="card">
                                        <div class="card-body px-3 py-4-5">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="stats-icon blue">
                                                        <i class="fas fa-plus"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <h6 class="text-muted font-semibold">Crear minuta nueva</h6>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <a href="{% url 'minutas.busqueda' %}">
                                    <div class="card">
                                        <div class="card-body px-3 py-4-5">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="stats-icon green">
                                                        <i class="fas fa-search"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <h6 class="text-muted font-semibold">Buscar</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="card">
                            <div class="card-body py-4 px-5">
                                <div class="d-flex align-items-center">

                                    <div class="avatar bg-warning me-3">
                                        <span class="avatar-content">{{ iniciales }}</span>
                                    </div>
                                    

                                    <div class="ms-3 name">
                                        <h5 class="font-bold">{{ nombre }}</h5>
                                        <h6 class="text-muted mb-0">{{ correo }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

{% endblock  %}

